<div class="container">
  <h1 class="header">{{title}}</h1>
  <router-outlet>
  </router-outlet>
  <br>
  <p><a href="/calculations/add">CALCULATE NOW</a>
    | Find out how much would you earn in Polish złotys working abroad as a contractor</p>
  <p><a href="/calculations">CALCULATIONS</a>
    | Check out your previous calculations</p>
  <br>
  <p><a href="/countries/add">ADD TAX INFO</a>
    | Add tax information for country of your choice</p>
  <p><a href="/countries">COUNTRIES</a>
    | Check out the list of countries available for calculation</p>
</div>
