<table class="table table-bordered table-inverse">
  <tr>
    <th>Name</th>
    <th>Currency</th>
    <th>Iso Code</th>
    <th>Days</th>
    <th>Income Tax</th>
    <th>Fixed Costs</th>
  </tr>
  <tr *ngFor="let country of countries">
    <td>
      {{country.name}}
    </td>
    <td>
      {{country.currency}} ({{country.currencySymbol}})
    </td>
    <td>
      {{country.isoCode}}
    </td>
    <td>
      {{country.workingDaysInMonth}}
    </td>
    <td>
      {{country.incomeTaxRate}}
    </td>
    <td>
      {{country.fixedCosts}} {{country.currencySymbol}}
    </td>
  </tr>
</table>
<br>
